

<script>
  import NewTag from '@/components/NewTag'
  import CopyTag from '@/components/CopyTag'
  import Settings from '@/components/Settings'

  export default {
    name: 'Body',
    template: '<component :is="currentView"></component>',
    data: function(){
      return {
        currentView: ''
      }
    },
    watch: {
      '$route': function(){
        if (this.$route.params.id === 'newtag') {
          this.currentView = 'newtag'
        } else if (this.$route.params.id === 'copytag') {
           this.currentView = 'copytag'
        } else if (this.$route.params.id === 'settings') {
          this.currentView = 'settings'
        }
      }
    },
    components: {
      'newtag': NewTag,
      'copytag': CopyTag,
      'settings': Settings
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
