<template>
  <section class="container-fluid" id="section1">
    <div class="v-center">
      <h2 class="text-center">Copy Tag</h2>
      <p class="text-center">
      <ul>
        <li>
          <h3 class="text-center"> Aplicación:</h3>
          <select v-model="appSource" class="input">
            <option disabled selected class="options">Seleccione</option>
            <option v-for="appI in myApps" v-bind:value="appI" class="options">{{appI.descripcion}}</option>
          </select>
        </li>
        <li>
          <h3 class="text-center"> Entorno:</h3>
          <select v-model="envSource" class="input" >
            <option disabled selected class="options">Seleccione</option>
            <option v-for="envI in myEnvironments" v-bind:value="envI" v-if="envI.tag" class="options">{{envI.descripcion}}</option>
          </select>
        </li>
        <li v-show="appSource && envSource">
          <h3 class="text-left"> Seleccione Tag:</h3>
          <input id="urlSource" :value="appSource.url+envSource+appSource.nombre+'_'+tagName" size="100" class="input" readonly/>
        </li>
      </ul>
      </p>
      <p class="text-center">
      <ul>

        <li>
          <h3 class="text-center"> Entornos:</h3>
          <select v-model="envTarget" class="input" >
            <option disabled selected class="options">Seleccione</option>
            <option v-for="envT in myEnvironments" v-bind:value="envT.url" v-if="showTarget(envT)" class="options">{{envT.descripcion}}</option>
          </select>

        </li>
        <li v-show="appSource && envTarget">
          <h3 class="text-left"> Url:</h3>
          <input id="urlTarget" :value="appSource.url+envTarget+appSource.nombre+'_'+tagName" size="100" class="input"  readonly />
        </li>
      </ul>
      <p class="text-center">
        <br>
        <a href="#" class="btn btn-danger btn-lg btn-huge " data-toggle="modal" data-target="#myModal" v-on:click="copyTag()">Copy</a>
      </p>
    </div>
    <div >
      <br>

    </div >
    </div>
  </section>
</template>
<script>
  import apps from './resources/apps.json'
  import envs from './resources/environments.json'

  export default {
    name: 'CopyTag',
    data () {
      return {
        msg: 'xxxx',
        myApps: apps,
        myEnvironments: envs,
        appSource: '',
        envSource: '',
        urlSource: '',
        urlTarget: '',
        envTarget: '',
        test: 'hola'

      }
    },
    methods: {
      copyTag: function (event) {

      },
      showTarget: function (value) {
         if (this.envSource!==''  && this.envSource.tag && value.order > this.envSource.order && value.tag === true ){
            return true;
        }
      }

    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1, h2 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
</style>
