<template>
  <section class="container-fluid" id="section1">
    <div class="v-center">
      <h2 class="text-center">New Tag</h2>
      <p class="text-center">
      <ul>
        <li>
          <h3 class="text-center"> Application:</h3>
          <select v-model="appSource" class="input">
            <option disabled selected class="options">Seleccione</option>
            <option v-for="appI in myApps" v-bind:value="appI" class="options">{{appI.descripcion}}</option>
          </select>
        </li>
        <li v-show="appSource && envSource">
          <h3 class="text-left"> Source:</h3>
          <input id="urlSource" :value="getUrlSource()" size="100" class="input" />
        </li>
      <li v-show="appSource && envSource">
        <h3 class="text-left"> Target:</h3>
        <input id="urlTarget" :value="getUrlTarget()" size="100" class="input" />
      </li>
      <li v-show="appSource && envSource">
        <h3 class="text-left"> Description:</h3>
        <input v-model="tagDesc" size="100" class="input" />
      </li>
      </ul>
      </p>
      <p class="text-center">
        <br>
        <a href="#" class="btn btn-danger btn-lg btn-huge " data-toggle="modal" data-target="#myModal" v-on:click="displayUrlSource()">Create</a>
      </p>
    </div>
    <div >
      <br>

    </div >
    </div>
  </section>
</template>
<script>
  import apps from './resources/apps.json'
  import envs from './resources/environments.json'
  import extraparams from './resources/extraparams.json'
  import moment from 'moment'
  export default {
    name: 'NewTag',
    data () {
      return {
        msg: 'xxxx',
        myApps: apps,
        myEnvironments: envs,
        extraparams: extraparams,
        appSource: '',
        envSource: '',
        envTarget: '',
        urlSource: '',
        urlTarget: '',
        prefix: '',
        sufix: '',
        tagName: moment().format('YYYYMMDD_hhmm'),
        tagDesc:''
      }
    },
    methods: {
      displayUrlSource: function (event) {
         alert(this.prefix +' ' + this.urlSource + ' ' +' ' + this.urlTarget + ' '+ this.sufix + ' " '+ this.tagDesc+ ' " ');
      },
      getUrlSource: function (event) {
        this.urlSource=this.appSource.url+this.envSource.url+this.appSource.nombre+'_'+this.tagName;
        return  this.urlSource;
      },
      getUrlTarget: function (event) {
        this.urlTarget= this.appSource.url+this.envTarget.url+this.appSource.nombre+'_'+this.tagName;
        return  this.urlTarget;
      }
    },
    created: function () {
      //Set de entornos
      for (var i = 0;i< this.myEnvironments.length; i++) {
        if( this.myEnvironments[i].initial===true && this.myEnvironments[i].tag===false){
          this.envSource=this.myEnvironments[i];
        }
        if( this.myEnvironments[i].initial===true && this.myEnvironments[i].tag===true){
          this.envTarget=this.myEnvironments[i];
        }
      }
      //Set prefijo y sufijo
      for (var i = 0;i< this.extraparams.length; i++) {
        if( this.extraparams[i].prefix===true ){
          this.prefix+=this.extraparams[i].param;
        }
        if( this.extraparams[i].prefix===false){
          this.sufix=this.extraparams[i].param;
        }
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
