<template>
  <section class="container-fluid" id="section3">
    <div class="v-center">
      <h2 class="text-center">Settings</h2>

    </div>
  </section>
</template>

<script>
  import apps from './resources/apps.json'
  import envs from './resources/environments.json'
  export default {
    name: 'Settings',
    data () {
      return {
        msg: 'xxxx',
        myApps: apps,
        myEnvironments: envs,
        appSource: '',
        envSource: '',
        urlSource: ''
      }
    },
    methods: {
      displayUrlSource: function (event) {

      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
