<template>
  <div id="app" >
    <div>
      <nav class="navbar navbar-trans navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand text-danger" href="#">SVN for Entelgy</a>
          </div>
          <div class="navbar-collapse collapse" id="navbar-collapsible">
            <ul class="nav navbar-nav navbar-left">
              <li><a href="#section1"><router-link to="/body/newtag">New Tag</router-link></a></li>
              <li><a href="#section2"> <router-link to="/body/copytag">Copy Tag</router-link></a></li>
              <li>&nbsp;</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li> <router-link to="/body/settings"><i class="fa fa-heart-o fa-lg"></i></router-link></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

      <router-view></router-view>


 </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
